html, body {
    font-family: "Muli", sans-serif;
    -webkit-font-smoothing: antialiased !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

#particles-js {
    background-image: url('css_images/bg.jpg');
    background-size: cover;
    height: 100vh;
    resize: both;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    z-index: -100;
}

#left_logo {
    width: 100%;
}

